div{
	b/order: 1px solid rgba(0,0,0,0.3);
	m/argin: -1px;
}

body{
	margin: 0;
}
#header{
	border-bottom: 1px solid #eee;
}
.main-layout{
	width: 960px;
	margin: 0 auto;/*置中*/
}
#logo{
	width: 30%;
	float:left;
	height:55px;
}

#menu{
	width: 70%;
	float:left;
	height: 55px;
	text-align: right;
}

.clearfix{
	clear:both;
}

#logo h1 {
	margin: 10px 15px;
}

/* MENU */
ul.nav{
	margin: 0;
	padding: 0;
}

ul.nav li{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

ul.nav li a{
	/* 高：文字+padding */
	padding: 20px 17px 19px 17px; 
	display: inline-block;
	color: #000;
	text-decoration: none;
}

ul.nav li a:hover{
	background-color: #eee;
}
/* BANNER */
#banner{
	background: url(banner.jpg) center center no-repeat;
	height: 400px;
}
.banner-inner{
	padding-top: 150px;
}
.banner-inner h1{
	margin: 0;
	text-align: center;
	color: white;
	font-size: 130px;
	text-shadow:0 0 10px rgba(0,0,0,.6);

}

/* Main Body */
#main-body{
	margin-top: 100px;
}

.main-content,
.right-col{
	float:left;
}

.main-content{
	width: 70%;
}

.right-col{
	width: 30%;
}

/*Article*/
.article-item{
	margin: 40px 30px 40px 0;
}

.article-info{
	color: #ccc;
}

.readmore{
	display: inline-block;
	padding: 10px 15px;
	background-color: rgb(58,141,236);
	box-shadow: 0 5px 0 #1A58A9;
	color: white;
	border-radius: 5px;
}

#footer{
	background-color: #222;
	padding: 70px 0;
	color: white;
	text-align: center;
}

#footer ul.nav a{
	color: white;
	background: none;
	padding: 10px 15px;
}

#footer ul.nav a:hover{
	color: #eee;
	background: none;
}

/*Typography: 文字樣式設計*/
p{
	line-height: 1.5em;
	margin: 2em 0;
}

img{
	max-width: 100%;
}

a{
	color: rgb(58,141,236);
	text-decoration: none;
}

a:hover{
	color:#1A58A9; 
}

